/*! Page scroll */

html {
    scroll-behavior: smooth;
}

:target {
	scroll-margin-top: var(--header-height);
}

/*! ANIMATION ON SCROLL */
[data-animate] {
    opacity: 1;
    transform: none;
    transition: transform 1s,
                opacity 1s;

    &.will-animate {
        will-change: transform, opacity;
        transform: translateY(50px);
        opacity: .7;
    }
}